<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Форма мероприятий в университете</title>
    <link href="style.css" rel="stylesheet"/>
</head>
<body>
    <div class="container">
        <h2>Информация о мероприятии</h2>
            <div class="form-group">
                <label for="eventTitle">Название мероприятия:</label>
                <input type="text" class="form-control" id="eventTitle" name="eventTitle" required>
            </div>
            <div class="form-group">
                <label for="eventDate">Дата мероприятия:</label>
                <input type="date" class="form-control" id="eventDate" name="eventDate" required>
            </div>
            <div class="form-group">
                <label for="eventDescription">Описание мероприятия:</label>
                <textarea class="form-control" id="eventDescription" name="eventDescription" rows="4" required></textarea>
            </div>
            <div class="form-group">
                <label for="eventImage">Выберите фото:</label>
                <input type="file" class="form-control-file" id="eventImage" name="eventImage">
            </div>
        <button type="submit" class="btn btn-primary small-btn float-right">Отправить</button>
    </div>
</body>
</html>