<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Мероприятия</title>
</head>
<body>
    <header>
        <h1>Добро пожаловать на сайт регистрации мероприятий</h1>
        <nav>
            <ul>
                <li><a href="{% url 'add_event' %}">Добавить мероприятие</a></li>
                <li><a href="{% url 'account_login' %}">Вход в систему</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2023 Мероприятия</p>
    </footer>
</body>
</html>