<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" href="style.css"> 
</head>
<body>
    <div class="container">
        <h1>Вход в систему</h1>
        <form action="forma.html" method="post"> 
            <input type="text" class="form-control" placeholder="Логин" name="username" required>
            <input type="password" class="form-control" placeholder="Пароль" name="password" required>
            <button type="submit" class="login-button">Войти</button>
        </form>
    </div>
</body>
</html>